.container7 {
    margin: 30px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    padding: 40px;
    border-radius: 6px;
    gap: 35px;
    font-family: Arial, Helvetica, sans-serif;

}

.blog {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 40px;
}

.cards img {
    width: 350px;
}