.cnt{
  margin: 30px;
  background-color: #f9fafa;
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 30px;
}



.mapouter {
  text-align: right;
  height: 555px;
  width: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 555px;
  width: 500px;
}

.contact-container {
  width: 400px;
  margin: auto;
  padding: 30px;
  text-align: center;
  
}


h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border: none;
  font-size: 16px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


textarea {
  height: 100px;
  resize: none;
}


button {
  background-color: #64a6ac;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #4a8a91;
}
