*{
    margin: 0%;
}

.foot{
    background-color: #000000;
    color: white;
    /* padding: 100px; */
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.contact{
    /* height: fit-content; */
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
}
.details{


}
a{
    display: block;
    text-decoration: none;
    color: white;
}
.signup>form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}